<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.wimb.domain.post.mapper.PostMapper">
    <select id="selectCategoryUsingChk" resultType="java.lang.Boolean">
        SELECT EXISTS (SELECT 1 FROM wimb.post_base WHERE category_id = #{categoryId})
    </select>

    <insert id="insertPostBase">
        INSERT INTO wimb.post_base (
               post_id
             , category_id
             , user_id
             , title
             , status
             , type
             , visibility
             , view_count
             , created_at
             , updated_at
        )
        VALUES (
               #{postId}
             , #{categoryId}
             , #{userId}
             , #{title}
             , #{status}
             , #{type}
             , #{visibility}
             , #{viewCount}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <insert id="insertPostSnippet">
        INSERT INTO wimb.post_snippet (
               post_id
             , code
             , description
             , language
             , created_at
             , updated_at
        )
        VALUES (
               #{postId}
             , #{code}
             , #{description}
             , #{language}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>
    
    <insert id="insertPostTagBulk" parameterType="java.util.List">
        INSERT INTO wimb.post_tag (
               post_id
             , name
             , sort_order
             , created_at
             , updated_at
        )
        VALUES
        <foreach collection="tags" item="tag" separator=",">
        (
             , #{tag.postId}
             , #{tag.name}
             , #{tag.sortOrder}
             , #{tag.createdAt}
             , #{tag.updatedAt}
        )
        </foreach>
    </insert>
</mapper>