<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moira.wimb.domain.post.mapper.PostMapper">
    <select id="selectIdAndUserIdChk" resultType="java.lang.Boolean">
        SELECT EXISTS (SELECT 1 FROM wimb.post_base WHERE post_id = #{postId} AND user_id = #{userId})
    </select>

    <select id="selectCategoryUsingChk" resultType="java.lang.Boolean">
        SELECT EXISTS (SELECT 1 FROM wimb.post_base WHERE category_id = #{categoryId})
    </select>

    <select id="selectAll" resultType="com.moira.wimb.domain.post.dto.response.PostListResponse">
        SELECT
               P.post_id
             , P.category_id
             , P.type
             , P.title
             , P.created_at
             , P.updated_at
        FROM wimb.post_base P
        INNER JOIN wimb.post_category PC ON PC.post_category_id = P.category_id
        WHERE P.user_id = #{userId}
         AND  P.status  = 'ACTIVE'
        <choose>
            <when test='searchType != null and searchType == "CATEGORY"'>
                ORDER BY PC.sort_order ASC, P.updated_at ASC
            </when>
            <when test='searchType != null and searchType == "POST_TYPE"'>
                ORDER BY CASE WHEN P.type = 'SNIPPET'          THEN 1
                              WHEN P.type = 'NORMAL'           THEN 2
                              WHEN P.type = 'SEQUENCE'         THEN 3
                              WHEN P.type = 'TROUBLE_SHOOTING' THEN 4
                              ELSE 999
                         END ASC, P.updated_at ASC
            </when>
            <otherwise>
                P.updated_at ASC
            </otherwise>
        </choose>
    </select>

    <insert id="insertPostBase">
        INSERT INTO wimb.post_base (
               post_id
             , category_id
             , user_id
             , title
             , status
             , type
             , visibility
             , view_count
             , created_at
             , updated_at
             , deleted_at
        )
        VALUES (
               #{postId}
             , #{categoryId}
             , #{userId}
             , #{title}
             , #{status}
             , #{type}
             , #{visibility}
             , #{viewCount}
             , #{createdAt}
             , #{updatedAt}
             , #{deletedAt}
        )
    </insert>

    <insert id="insertPostSnippet">
        INSERT INTO wimb.post_snippet (
               post_id
             , code
             , description
             , language
             , created_at
             , updated_at
        )
        VALUES (
               #{postId}
             , #{code}
             , #{description}
             , #{language}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>

    <insert id="insertPostNormal">
        INSERT INTO wimb.post_normal (
               post_id
             , content
             , plain_content
             , file_id
             , created_at
             , updated_at
        )
        VALUES (
               #{postId}
             , #{content}
             , #{plainContent}
             , #{fileId}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>
    
    <insert id="insertPostTagBulk" parameterType="java.util.List">
        INSERT INTO wimb.post_tag (
               post_id
             , name
             , sort_order
             , created_at
             , updated_at
        )
        VALUES
        <foreach collection="tags" item="tag" separator=",">
        (
             , #{tag.postId}
             , #{tag.name}
             , #{tag.sortOrder}
             , #{tag.createdAt}
             , #{tag.updatedAt}
        )
        </foreach>
    </insert>

    <update id="updatePostStatusDeleted">
        UPDATE wimb.post_base
        SET
               status     = 'DELETED'
             , deleted_at = CURRENT_TIMESTAMP
        WHERE post_id = #{postId}
    </update>
</mapper>